.TextContent {
  text-align: left;
  padding-bottom: 20px;
}

.CoachingImageHorizontal {
  width: 40%;
  height: auto;
  min-width: 250px;
  max-width: 600px;
  border-radius: 8px;
  margin: 20px 0px;
}

.CoachingImageVertical {
  width: 30%;
  height: auto;
  min-width: 250px;
  max-width: 600px;
  border-radius: 8px;
  margin: 20px 0px;
}
