.Navbar {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--header);
}

.Title {
  font-family: "Freckle Face";
  /* font-family: "Sawarabi Mincho"; */
  font-size: 50px;
  color: var(--title);
  width: fit-content;
  justify-content: flex-start;
}

.MenuItems {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

.MenuItemContainer {
  text-align: center;
  margin: 0px 10px;
}

.MenuItem {
  color: var(--title);
  padding: 3px;
  font-weight: bold;
}

.MenuItem:hover {
  background-color: var(--header_highlight);
  cursor: pointer;
}