.FooterBackground {
  background-color: var(--footer_colour);
  padding: 20px 35px;
}

.FooterInnerBar {
  font-size: 11px;
  color: var(--footer_text_colour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.FooterLeftBar {
  display: flex;
  align-items: center;
}

.FooterIcon {
  width: 24px;
  height: 24px;
  margin: 0px 20px 0px 0px;
  transition: transform 0.25s ease-out;
}

.FooterIcon:hover {
  transform: scale(1.25);
}

.FooterTextLink {
  padding: 3px;
  margin: 0px 17px 0px 0px;
  font-family: "High Tide Sans";
  font-weight: bold;
  font-size: 14px;
  transition: transform 0.25s ease-out;
}

.FooterTextLink:hover {
  transform: scale(1.25);
}
