.Navbar {
  background-color: var(--header_colour);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* For centered navbar title and menu, set flex-direction to column.  */
  flex-direction: column;
}

.NavbarTitle {
  /* font-family: "Freckle Face"; */
  font-family: "High Tide";
  letter-spacing: -0.5px;
  font-weight: bolder;
  font-size: 40px;
  color: var(--title_colour);
  width: fit-content;
  /*  For centered navbar title and menu, set text-align to center.  */
  text-align: center;
}

.MenuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.MenuItemContainer {
  text-align: center;
  margin: 0px 10px;
  transition: transform 0.25s ease-out;
}

.MenuItemContainer:hover {
  transform: scale(1.25);
}

.MenuItem {
  color: var(--title_colour);
  font-family: "High Tide";
  font-size: 16px;
  font-weight: bolder;

  /* font-weight: 900; */
  padding: 3px;
}
