.Navbar {
  padding: 30px 35px 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--header);
}

.Title {
  /* font-family: "Freckle Face"; */
  font-family: "High Tide Sans";
  letter-spacing: -0.5px;
  /* margin-top: 10px; */
  font-weight: bold;
  font-size: 40px;
  color: var(--title);
  width: fit-content;
}

.MenuItems {
  display: flex;
  /* margin-top: 10px; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.MenuItemContainer {
  text-align: center;
  margin: 0px 10px;
}

.MenuItem {
  color: var(--title);
  /* padding: 3px; */
  font-family: "High Tide Sans";
  font-weight: bold;
}

.MenuItem:hover {
  background-color: var(--header_highlight);
  cursor: pointer;
}
