.Navbar {
  background-color: var(--header);
  padding: 30px 35px 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* For centered navbar title and menu, set flex-direction to column.  */
  /* flex-direction: column; */
}

.NavbarTitle {
  /* font-family: "Freckle Face"; */
  font-family: "High Tide Sans";
  letter-spacing: -0.5px;
  font-weight: bold;
  font-size: 40px;
  color: var(--title);
  width: fit-content;
  /*  For centered navbar title and menu, set text-align to center.  */
  /* text-align: center; */
}

.MenuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.MenuItemContainer {
  text-align: center;
  margin: 0px 10px;
}

.MenuItem {
  color: var(--title);
  font-family: "High Tide Sans";
  font-weight: bold;
  padding: 3px;
}

.MenuItem:hover {
  background-color: var(--header_highlight);
  cursor: pointer;
}
