.FooterBackground {
  background-color: var(--header);
}

.Footer {
  padding: 20px;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.FooterIcon {
  width: 24px;
  height: 24px;
  margin: 0px 0px 0px 20px;
}

.FooterTextLink {
  display: flex;
  align-items: center;
}
