:root {
  --background: #fff;
  --title: #000;
  --header: #9ba2ff;
  --header_highlight: #707bf9;
  --link_highlight: #4b4f80;

  --alt_title_black: #000;
  --alt_title_white: #fff;
  --alt_title_brown: #352800;

  --alt_header_harvest_gold: #e7a41f;
  --alt_header_vista_blue: #9ba2ff;
  --alt_header_duke_blue: #390099;
  --alt_header_turquoise: #73cece;
  --alt_header_malachite: #2fbf3e;
  --alt_header_jade: #0fc485;

  --alt_header_highlight_harvest_gold: #c48d1f;
  --alt_header_highlight_vista_blue: #707bf9;
  --alt_header_highlight_duke_blue: #390099;
  --alt_header_highlight_turquoise: #03b2b2;
  --alt_header_highlight_malachite: #28a333;
  --alt_header_highlight_jade: #0da872;

  --alt_colour_dark_turquoise: #008b8b;
  --darker_text: #0f2f44;
  --dark_text: #0f2f44;
}

@font-face {
  font-family: "Amsterdam One";
  src: url("fonts/AmsterdamOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Freckle Face";
  src: url("fonts/FreckleFace-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("fonts/RedHatDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Sawarabi Mincho";
  src: url("fonts/SawarabiMincho-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Stars & Love";
  src: url("fonts/Stars&Love-BottomHeavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body,
html {
  padding: 0;
  margin: 0;
}

* {
  /* font-family: "Stars & Love", sans-serif; */
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: var(--background);
}

button {
  width: fit-content;
  font-weight: bold;
}

.Container {
  padding: 0 80px;
  font-size: 20px;
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  max-width: 1300px;
}

.CrossedOut {
  text-decoration: line-through;
}

.Bold {
  font-weight: bold;
}

.Italic {
  font-style: italic;
}

.Subtitle {
  width: fit-content;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 30px;
  font-family: "Sawarabi Mincho";
}

.Subsubtitle {
  width: fit-content;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 22px;
  font-family: "Sawarabi Mincho";
}

.VisibleLink {
  font-weight: bold;
  text-decoration: underline;
}

.VisibleLink:hover {
  color: var(--link_highlight);
  cursor: pointer;
}

@media (max-width: 900px) {
  .Container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .Navbar {
    padding: 20px;
  }

  .MenuItems {
    margin-top: 10px;
    font-size: 15px;
  }

  .Title {
    font-size: 35px;
  }

  .Subtitle {
    margin-top: 15px;
    font-size: 25px;
  }

  .Container {
    padding: 0 20px;
  }

  .Footer {
    font-size: 10px;
    padding: 10px 0 10px 0;
  }
}
