:root {
  --black_colour: #000;
  --white_colour: #fff;
  --brown_colour: #352800;

  --alt_header_harvest_gold: #e7a41f;
  --alt_header_vista_blue: #9ba2ff;
  --alt_header_duke_blue: #390099;
  --alt_header_turquoise: #73cece;
  --alt_header_malachite: #2fbf3e;
  --alt_header_jade: #0fc485;

  --alt_header_highlight_harvest_gold: #c48d1f;
  --alt_header_highlight_vista_blue: #707bf9;
  --alt_header_highlight_duke_blue: #390099;
  --alt_header_highlight_turquoise: #03b2b2;
  --alt_header_highlight_malachite: #28a333;
  --alt_header_highlight_jade: #0da872;
  --alt_header_highlight_provence_yellow: #d6a811;

  --alt_colour_dark_turquoise: #008b8b;

  --provence_background: #fcf7e0;
  --provence_blue: #1052bc;
  --provence_blue_darker: #0b3c84;
  --provence_yellow: #ffcc16;
  --provence_yellow_highlight: #d6a811;

  /* ----- BRANDING ----- */

  --branding_vista_blue: true;

  --button_colour: var(--provence_blue_darker);
  --button_text_colour: var(--white_colour);
  --button_highlight_colour: #3a3a3a;
  --button_highlight_colour: var(--provence_blue);

  /* Vista Blue & White */
  --background_colour: var(--white_colour);
  --title_colour: var(--black_colour);
  --header_colour: var(--alt_header_vista_blue);
  --footer_colour: var(--alt_header_vista_blue);
  --footer_text_colour: var(--black_colour);
  --link_highlight_colour: #4b4f80;

  /* Provence Blue & Yellow */
  /* --background_colour: var(--provence_background);
  --title_colour: var(--provence_blue);
  --header_colour: var(--provence_yellow);
  --footer_colour: var(--provence_background);
  --footer_text_colour: var(--provence_blue);
  --link_highlight_colour: var(--provence_blue); */
}

@font-face {
  font-family: "Freckle Face";
  src: url("fonts/FreckleFace-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "High Tide Sans";
  src: url("fonts/HighTide-Sans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "High Tide Sans";
  src: url("fonts/HighTide-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("fonts/RedHatDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Sawarabi Mincho";
  src: url("fonts/SawarabiMincho-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.AppContainer {
  height: 100%;
  padding: 10px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Remove height of footer + height of navbar + vertical padding here around contained */
  /* -207px if title on left, -228px if title centered */
  min-height: calc(100vh - 228px);
}

body,
html {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Red Hat Display", sans-serif;
  text-align: justify;
}

body {
  background: var(--background_colour);
}

.ButtonStyle {
  /* Layout & Display */
  display: inline-block; /* Necessary for <a> tags to respect padding/height */
  text-align: center;
  text-decoration: none; /* Removes the default underline from links */
  cursor: pointer;

  /* Styling */
  font-size: 18px;
  font-family: "High Tide Sans";
  background-color: var(--button_colour);
  border: 2px solid var(--button_colour);
  color: var(--button_text_colour);
  border-radius: 30px;
  padding: 7px 40px 3px 40px;

  /* Smooth transition for the hover effect */
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.ButtonStyle:hover {
  background-color: var(--button_highlight_colour);
  border-color: var(--button_highlight_colour);
  color: var(--button_text_colour); /* Ensures text stays white on hover */
}

button {
  font-size: 18px;
  font-family: "High Tide Sans";
  background-color: var(--button_colour);
  border-color: var(--button_colour);
  color: var(--button_text_colour);
  border-style: solid;
  border-radius: 30px;
  /* If use Red Hat Display font, pad top & bottom at 3px */
  padding: 7px 40px 3px 40px;
}

button:hover {
  background-color: var(--button_highlight_colour);
  border-color: var(--button_highlight_colour);
  color: var(--button_text_colour); /* Ensures text stays white on hover */
}

.NavigationButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.CrossedOut {
  text-decoration: line-through;
}

.Bold {
  font-weight: bold;
}

.Italic {
  font-style: italic;
}

.ImageSmallerHorizontal {
  width: 35%;
  height: auto;
  border-radius: 8px;
}

.ImageSmallHorizontal {
  width: 45%;
  height: auto;
  border-radius: 8px;
}

.ImageSmallVertical {
  width: 25%;
  height: auto;
  border-radius: 8px;
}

.ImageMediumHorizontal {
  width: 60%;
  height: auto;
  border-radius: 8px;
}

.ImageLarge {
  width: 60%;
  border-radius: 8px;
}

.TextTitle {
  /* width: 100%;
  text-align: center; */
  width: fit-content;
  line-height: 40px;
  font-size: 30px;
  font-family: "Sawarabi Mincho";
  /* font-family: "High Tide Sans"; */
}

.TextSubtitle {
  width: fit-content;
  line-height: 24px;
  font-size: 22px;
  font-family: "Sawarabi Mincho";
}

.CoachingToolsGeneratedValue {
  padding-left: 20px;
  font-style: italic;
  font-family: "Sawarabi Mincho";
}

.VisibleLink {
  font-weight: bold;
  text-decoration: underline;
}

.VisibleLink:hover {
  color: var(--link_highlight_colour);
  cursor: pointer;
}

@media (max-width: 900px) {
  .AppContainer {
    padding: 0 20px;
  }

  * {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .AppContainer {
    padding: 0 20px;
  }

  .Navbar {
    padding: 20px;
  }

  .MenuItems {
    font-size: 15px;
  }

  .Title {
    font-size: 35px;
  }

  .TextTitle {
    margin-top: 15px;
    font-size: 25px;
  }

  * {
    text-align: left;
  }

  .MenuItemContainer:hover {
    transform: none;
  }

  .FooterIcon:hover {
    transform: none;
  }

  .FooterTextLink:hover {
    transform: none;
  }
}
